

.score-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500;

  width: 84px;
  height: 68px;

  background: var(--green);
  color: #ffffff;

  border-radius: 0; 
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 6px;

  border: none;
  cursor: pointer;
}


.score-number {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.1;
}


.score-label {
  font-size: 11px;
  font-weight: 700;
  line-height: 1.1;
  opacity: 0.95;
}


.score-box:active {
  filter: brightness(1.05);
}

.score-box:focus-visible {
  outline: none;
  box-shadow: var(--focus);
}
