.bottom-nav {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #0E3296;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-button {
  background: none;
  border: none;
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-button .dot {
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
}


.nav-item {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}