#root {
  min-height: 100vh;
  background: #e5e5e5; /* Desktop-Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f2f2f2;
}

.app {
  width: 100%;
  max-width: 430px;   /* iPhone 14 Pro Max */
  height: 100vh;

  background: #fff;
  position: relative;
  overflow: hidden;
}

.screen {
  height: 100%;
  padding-bottom: 64px; /* Höhe deiner BottomNav */
}


@media (min-width: 768px) {
  .app {
    height: 844px; /* iPhone 12 Pro Höhe */
    border-radius: 28px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  }
}
