#root {
  min-height: 100%;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  max-width: 430px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;

  --bg: #f7f7f7;
  --surface: #ffffff;

  --text: #000000;
  --muted: #333333;

  /* “schwebende Boxen” */
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  /* Akzente */
  --blue: #0e3296;
  --green: #8db332;
  --orange: #e9832d;
  --purple: #86488b;
  --radius: 0px;

  background: var(--bg);
  color: var(--text);
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);

}

/* Dark Theme nur wenn Klasse drauf ist */
.app.theme-dark {
  --bg: #121212;
  --surface: #1c1c1c;
  --text: rgba(255, 255, 255, 0.92);
  --muted: rgba(255, 255, 255, 0.6);

  --shadow: 0 10px 26px rgba(0, 0, 0, 0.5);
}

.screen {
  height: 100%;
  padding-bottom: 64px;
}

@media (min-width: 900px) {
  .app {
    width: min(390px, calc(100vw - 48px));
    aspect-ratio: 390 / 844;
    max-height: 844px;

    max-width: none;
    border-radius: 15px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  }
}
