#root {
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f2f2f2;
}

.app {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  padding-bottom: 64px; /* Höhe der BottomNav */
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

