html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  font-family:
    "Lato",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background: #f7f7f7;
  color: #000000;
}
