.map-screen {
  position: relative;
  height: 100%;
  width: 100%;
}





.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.leaflet-pane {
  z-index: 1;
}

.map-leaflet {
  height: 100%;
  width: 100%;
}
